textarea {
    width: 100%;
    font-family: Consolas, Courier New, courier, fixed-width;
}

span#statusPost, span#statusGet {
    margin-left:  2em;
    font-size: x-small;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 10px;
    color:  white;
    line-height: 4em;
}

span.idle {
    background:  green;
    border:  1px solid green;
}
        
span.error {
    background:  darkred;
    border:  1px solid darkred;
}

span.working {
    background:  goldenrod;
    border:  1px solid goldenrod;
    color:  black;
}

label {
    padding-right: 0.5em;
}

label.second {
    padding-left: 1em;
}